config/node-red/flows.json
[
    {
        "id": "flow_solar_dashboard",
        "type": "tab",
        "label": "Solar Live Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_appliance_lock",
        "type": "tab",
        "label": "Appliance Lock Status Panel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_threshold_editor",
        "type": "tab",
        "label": "Live Threshold Editor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_decision_log",
        "type": "tab",
        "label": "Guard Decision Log",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_hermes_chat",
        "type": "tab",
        "label": "Hermes Chat Interface",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_eva_map",
        "type": "tab",
        "label": "EVA Energy Map",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_device_manager",
        "type": "tab",
        "label": "EVA Device Manager",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-guard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "solar/nodered/status",
        "birthQos": "0",
        "birthPayload": "online",
        "closeTopic": "solar/nodered/status",
        "closeQos": "0",
        "closePayload": "offline",
        "willTopic": "solar/nodered/status",
        "willQos": "0",
        "willPayload": "offline"
    },
    {
        "id": "ui_tab_dashboard",
        "type": "ui_tab",
        "name": "Solar Sentinel Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_hermes",
        "type": "ui_tab",
        "name": "Hermes AI Chat",
        "icon": "chat",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_eva",
        "type": "ui_tab",
        "name": "EVA Energy Map",
        "icon": "map",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_device_manager",
        "type": "ui_tab",
        "name": "EVA Device Manager",
        "icon": "settings",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_solar_live",
        "type": "ui_group",
        "name": "Live Stats",
        "tab": "ui_tab_dashboard",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_appliances",
        "type": "ui_group",
        "name": "Appliance Locks",
        "tab": "ui_tab_dashboard",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_thresholds",
        "type": "ui_group",
        "name": "Guard Thresholds",
        "tab": "ui_tab_dashboard",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_log",
        "type": "ui_group",
        "name": "Decision Log",
        "tab": "ui_tab_dashboard",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_hermes_chat",
        "type": "ui_group",
        "name": "Chat with Hermes",
        "tab": "ui_tab_hermes",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_eva_main",
        "type": "ui_group",
        "name": "Energy Map Visualizer",
        "tab": "ui_tab_eva",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_device_controls",
        "type": "ui_group",
        "name": "EVA System Controls",
        "tab": "ui_tab_device_manager",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt_in_total_w",
        "type": "mqtt in",
        "z": "flow_solar_dashboard",
        "name": "Total W",
        "topic": "solar/pv/power",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 80,
        "wires": [["ui_gauge_total_w"]]
    },
    {
        "id": "ui_gauge_total_w",
        "type": "ui_gauge",
        "z": "flow_solar_dashboard",
        "name": "Solar Power",
        "group": "ui_group_solar_live",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Solar Production",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "mqtt_in_soc",
        "type": "mqtt in",
        "z": "flow_solar_dashboard",
        "name": "Battery SOC",
        "topic": "solar/battery/soc",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 140,
        "wires": [["ui_gauge_soc"]]
    },
    {
        "id": "ui_gauge_soc",
        "type": "ui_gauge",
        "z": "flow_solar_dashboard",
        "name": "SOC Gauge",
        "group": "ui_group_solar_live",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Charge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": "20",
        "seg2": "60",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt_in_eva_map",
        "type": "mqtt in",
        "z": "flow_eva_map",
        "name": "EVA Map In",
        "topic": "solar/eva/map",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 80,
        "wires": [["ui_template_eva_map"]]
    },
    {
        "id": "ui_template_eva_map",
        "type": "ui_template",
        "z": "flow_eva_map",
        "group": "ui_group_eva_main",
        "name": "Map View",
        "order": 1,
        "width": "12",
        "height": "10",
        "format": "<div id=\"eva-map-container\" style=\"background: #1a1a1a; color: #00ff00; padding: 20px; font-family: monospace; border-radius: 10px;\">\n    <h2 style=\"color: #fff; border-bottom: 1px solid #333;\">EVA ENERGY VALUE MAP</h2>\n    <div style=\"display: flex; justify-content: space-between; margin-bottom: 20px;\">\n        <div>SYSTEM SOC: {{msg.payload.system.soc}}%</div>\n        <div>TIER: {{msg.payload.system.tier}}</div>\n        <div>PV: {{msg.payload.system.pv_watts}}W</div>\n    </div>\n    <table style=\"width: 100%; text-align: left;\">\n        <tr style=\"color: #aaa;\"><th>Node ID</th><th>Power</th><th>State</th></tr>\n        <tr ng-repeat=\"(id, node) in msg.payload.nodes\">\n            <td>{{id}}</td>\n            <td>{{node.last_power}}W</td>\n            <td>{{node.last_state}}</td>\n        </tr>\n    </table>\n    <div style=\"margin-top: 20px; border-top: 1px solid #333; padding-top: 10px;\">\n        Phantom Cuts Total: {{msg.payload.phantom_total}}\n    </div>\n    <div ng-if=\"msg.payload.optimal_window\">\n        Next Optimal Window: {{msg.payload.optimal_window.start_time}} ({{msg.payload.optimal_window.predicted_yield_wh}}Wh)\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 330,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "ui_button_phantom_cut",
        "type": "ui_button",
        "z": "flow_device_manager",
        "name": "Trigger Phantom Cut",
        "group": "ui_group_device_controls",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Run Phantom Cut Now",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "EVA_PHANTOM_CUT",
        "payloadType": "str",
        "topic": "solar/eva/command",
        "x": 160,
        "y": 80,
        "wires": [["mqtt_out_eva_command"]]
    },
    {
        "id": "ui_button_optimize",
        "type": "ui_button",
        "z": "flow_device_manager",
        "name": "Trigger Optimize",
        "group": "ui_group_device_controls",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Find Optimal Window",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "EVA_OPTIMIZE",
        "payloadType": "str",
        "topic": "solar/eva/command",
        "x": 160,
        "y": 120,
        "wires": [["mqtt_out_eva_command"]]
    },
    {
        "id": "ui_button_learn",
        "type": "ui_button",
        "z": "flow_device_manager",
        "name": "Trigger Learning",
        "group": "ui_group_device_controls",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Run Pattern Learning",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "EVA_LEARN",
        "payloadType": "str",
        "topic": "solar/eva/command",
        "x": 160,
        "y": 160,
        "wires": [["mqtt_out_eva_command"]]
    },
    {
        "id": "mqtt_out_eva_command",
        "type": "mqtt out",
        "z": "flow_device_manager",
        "name": "EVA Command Out",
        "topic": "solar/eva/command",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_local",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "ui_text_input_hermes",
        "type": "ui_text_input",
        "z": "flow_hermes_chat",
        "name": "Message to Hermes",
        "label": "Ask Hermes",
        "tooltip": "",
        "group": "ui_group_hermes_chat",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "base64": false,
        "x": 140,
        "y": 100,
        "wires": [["mqtt_out_hermes_inbox"]]
    },
    {
        "id": "mqtt_out_hermes_inbox",
        "type": "mqtt out",
        "z": "flow_hermes_chat",
        "name": "Hermes Inbox",
        "topic": "solar/hermes/inbox",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_local",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_in_hermes_outbox",
        "type": "mqtt in",
        "z": "flow_hermes_chat",
        "name": "Hermes Outbox",
        "topic": "solar/hermes/outbox",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 180,
        "wires": [["ui_text_hermes_reply"]]
    },
    {
        "id": "ui_text_hermes_reply",
        "type": "ui_text",
        "z": "flow_hermes_chat",
        "group": "ui_group_hermes_chat",
        "order": 2,
        "width": "12",
        "height": "8",
        "name": "Hermes Reply",
        "label": "",
        "format": "<div ng-bind-html=\"msg.payload.response || msg.payload\"></div>",
        "layout": "col-center",
        "className": "",
        "x": 350,
        "y": 180,
        "wires": []
    }
]
