config/node-red/flows.json
[
    {
        "id": "flow_solar_dashboard",
        "type": "tab",
        "label": "Solar Live Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_appliance_lock",
        "type": "tab",
        "label": "Appliance Lock Status Panel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_threshold_editor",
        "type": "tab",
        "label": "Live Threshold Editor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_decision_log",
        "type": "tab",
        "label": "Guard Decision Log",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-guard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "home/nodered/status",
        "birthQos": "0",
        "birthPayload": "online",
        "closeTopic": "home/nodered/status",
        "closeQos": "0",
        "closePayload": "offline",
        "willTopic": "home/nodered/status",
        "willQos": "0",
        "willPayload": "offline"
    },
    {
        "id": "ui_group_solar_live",
        "type": "ui_group",
        "name": "Live Stats",
        "tab": "ui_tab_dashboard",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab_dashboard",
        "type": "ui_tab",
        "name": "Solar Sentinel Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "mqtt_in_total_w",
        "type": "mqtt in",
        "z": "flow_solar_dashboard",
        "name": "Total W",
        "topic": "home/panels/total_w",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 80,
        "wires": [["ui_gauge_total_w"]]
    },
    {
        "id": "ui_gauge_total_w",
        "type": "ui_gauge",
        "z": "flow_solar_dashboard",
        "name": "Solar Power",
        "group": "ui_group_solar_live",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Solar Production",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "mqtt_in_soc",
        "type": "mqtt in",
        "z": "flow_solar_dashboard",
        "name": "Battery SOC",
        "topic": "home/battery/soc",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 140,
        "wires": [["ui_gauge_soc", "ui_chart_soc"]]
    },
    {
        "id": "ui_gauge_soc",
        "type": "ui_gauge",
        "z": "flow_solar_dashboard",
        "name": "SOC Gauge",
        "group": "ui_group_solar_live",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Charge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": "20",
        "seg2": "60",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_chart_soc",
        "type": "ui_chart",
        "z": "flow_solar_dashboard",
        "name": "SOC History",
        "group": "ui_group_solar_live",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "SOC % History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "x": 330,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "ui_group_appliances",
        "type": "ui_group",
        "name": "Appliance Locks",
        "tab": "ui_tab_dashboard",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "appliance_switch_gen",
        "type": "function",
        "z": "flow_appliance_lock",
        "name": "Process Lock Status",
        "func": "msg.payload = (msg.payload === 'LOCK');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [["ui_switch_wm"]]
    },
    {
        "id": "mqtt_in_wm_lock",
        "type": "mqtt in",
        "z": "flow_appliance_lock",
        "name": "WM Lock In",
        "topic": "home/appliances/washing_machine/lock",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 100,
        "wires": [["appliance_switch_gen"]]
    },
    {
        "id": "ui_switch_wm",
        "type": "ui_switch",
        "z": "flow_appliance_lock",
        "name": "Washing Machine Lock",
        "label": "Washing Machine",
        "group": "ui_group_appliances",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/appliances/washing_machine/lock",
        "onvalue": "LOCK",
        "offvalue": "UNLOCK",
        "x": 550,
        "y": 100,
        "wires": [["mqtt_out_wm_lock"]]
    },
    {
        "id": "ui_switch_dw",
        "type": "ui_switch",
        "z": "flow_appliance_lock",
        "name": "Dishwasher Lock",
        "label": "Dishwasher",
        "group": "ui_group_appliances",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/appliances/dishwasher/lock",
        "onvalue": "LOCK",
        "offvalue": "UNLOCK",
        "x": 550,
        "y": 140,
        "wires": [["mqtt_out_dw_lock"]]
    },
    {
        "id": "ui_switch_wh",
        "type": "ui_switch",
        "z": "flow_appliance_lock",
        "name": "Water Heater Lock",
        "label": "Water Heater",
        "group": "ui_group_appliances",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/appliances/water_heater/lock",
        "onvalue": "LOCK",
        "offvalue": "UNLOCK",
        "x": 550,
        "y": 180,
        "wires": [["mqtt_out_wh_lock"]]
    },
    {
        "id": "ui_switch_ac",
        "type": "ui_switch",
        "z": "flow_appliance_lock",
        "name": "AC Unit Lock",
        "label": "AC Unit",
        "group": "ui_group_appliances",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/appliances/ac_unit/lock",
        "onvalue": "LOCK",
        "offvalue": "UNLOCK",
        "x": 550,
        "y": 220,
        "wires": [["mqtt_out_ac_lock"]]
    },
    {
        "id": "ui_switch_ev",
        "type": "ui_switch",
        "z": "flow_appliance_lock",
        "name": "EV Charger Lock",
        "label": "EV Charger",
        "group": "ui_group_appliances",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/appliances/ev_charger/lock",
        "onvalue": "LOCK",
        "offvalue": "UNLOCK",
        "x": 550,
        "y": 260,
        "wires": [["mqtt_out_ev_lock"]]
    },
    { "id": "mqtt_out_dw_lock", "type": "mqtt out", "z": "flow_appliance_lock", "topic": "home/appliances/dishwasher/lock", "broker": "mqtt_broker_local", "x": 770, "y": 140, "wires": [] },
    { "id": "mqtt_out_wh_lock", "type": "mqtt out", "z": "flow_appliance_lock", "topic": "home/appliances/water_heater/lock", "broker": "mqtt_broker_local", "x": 770, "y": 180, "wires": [] },
    { "id": "mqtt_out_ac_lock", "type": "mqtt out", "z": "flow_appliance_lock", "topic": "home/appliances/ac_unit/lock", "broker": "mqtt_broker_local", "x": 770, "y": 220, "wires": [] },
    { "id": "mqtt_out_ev_lock", "type": "mqtt out", "z": "flow_appliance_lock", "topic": "home/appliances/ev_charger/lock", "broker": "mqtt_broker_local", "x": 770, "y": 260, "wires": [] },
    {
        "id": "mqtt_out_wm_lock",
        "type": "mqtt out",
        "z": "flow_appliance_lock",
        "name": "WM Lock Out",
        "topic": "home/appliances/washing_machine/lock",
        "qos": "1",
        "retain": "true",
        "broker": "mqtt_broker_local",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_group_thresholds",
        "type": "ui_group",
        "name": "Guard Thresholds",
        "tab": "ui_tab_dashboard",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_slider_lockout",
        "type": "ui_slider",
        "z": "flow_threshold_editor",
        "name": "Lockout Slider",
        "label": "SOC Lockout",
        "tooltip": "",
        "group": "ui_group_thresholds",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "home/guard/config/soc_lockout",
        "min": 0,
        "max": 100,
        "step": 1,
        "x": 140,
        "y": 80,
        "wires": [["mqtt_out_config"]]
    },
    {
        "id": "ui_slider_warning",
        "type": "ui_slider",
        "z": "flow_threshold_editor",
        "name": "Warning Slider",
        "label": "SOC Warning",
        "tooltip": "",
        "group": "ui_group_thresholds",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "home/guard/config/soc_warning",
        "min": 0,
        "max": 100,
        "step": 1,
        "x": 140,
        "y": 120,
        "wires": [["mqtt_out_config"]]
    },
    {
        "id": "ui_slider_advisory",
        "type": "ui_slider",
        "z": "flow_threshold_editor",
        "name": "Advisory Slider",
        "label": "SOC Advisory",
        "tooltip": "",
        "group": "ui_group_thresholds",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "home/guard/config/soc_advisory",
        "min": 0,
        "max": 100,
        "step": 1,
        "x": 140,
        "y": 160,
        "wires": [["mqtt_out_config"]]
    },
    {
        "id": "ui_slider_abundance",
        "type": "ui_slider",
        "z": "flow_threshold_editor",
        "name": "Abundance Slider",
        "label": "SOC Abundance",
        "tooltip": "",
        "group": "ui_group_thresholds",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "home/guard/config/soc_abundance",
        "min": 0,
        "max": 100,
        "step": 1,
        "x": 140,
        "y": 200,
        "wires": [["mqtt_out_config"]]
    },
    {
        "id": "ui_text_input_other",
        "type": "ui_text_input",
        "z": "flow_threshold_editor",
        "name": "Custom Config",
        "label": "Custom Config Value",
        "tooltip": "",
        "group": "ui_group_thresholds",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "home/guard/config/custom",
        "x": 140,
        "y": 240,
        "wires": [["mqtt_out_config"]]
    },
    {
        "id": "mqtt_out_config",
        "type": "mqtt out",
        "z": "flow_threshold_editor",
        "name": "Config Out",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "broker": "mqtt_broker_local",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_group_log",
        "type": "ui_group",
        "name": "Decision Log",
        "tab": "ui_tab_dashboard",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt_in_alerts",
        "type": "mqtt in",
        "z": "flow_decision_log",
        "name": "Alerts In",
        "topic": "home/alerts/energy_guard",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 80,
        "wires": [["function_log_process"]]
    },
    {
        "id": "function_log_process",
        "type": "function",
        "z": "flow_decision_log",
        "name": "Log Accumulator",
        "func": "var log = context.get('log') || [];\nlog.unshift(msg.payload);\nif (log.length > 20) log.pop();\ncontext.set('log', log);\nmsg.payload = log;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 80,
        "wires": [["ui_table_log"]]
    },
    {
        "id": "ui_table_log",
        "type": "ui_table",
        "z": "flow_decision_log",
        "group": "ui_group_log",
        "name": "Decision Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [\n    { \"field\": \"timestamp\", \"title\": \"Time\", \"width\": \"30%\", \"align\": \"left\", \"formatter\": \"datetime\", \"format\": \"HH:mm:ss\" },\n    { \"field\": \"message\", \"title\": \"Message\", \"width\": \"70%\", \"align\": \"left\", \"formatter\": \"plaintext\" }\n],\n        "outputs": 0,
        "cts": false,
        "x": 530,
        "y": 80,
        "wires": []
    }
]
