config/node-red/flows.json
[
    {
        "id": "flow_solar_dashboard",
        "type": "tab",
        "label": "Solar Live Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_appliance_lock",
        "type": "tab",
        "label": "Appliance Lock Status Panel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_threshold_editor",
        "type": "tab",
        "label": "Live Threshold Editor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_decision_log",
        "type": "tab",
        "label": "Guard Decision Log",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_hermes_chat",
        "type": "tab",
        "label": "Hermes Chat Interface",
        "disabled": false,
        "info": "",
        "info": "Chat with the Hermes AI agent using natural language"
    },
    {
        "id": "flow_eva_map",
        "type": "tab",
        "label": "EVA Live Energy Map",
        "disabled": false,
        "info": "",
        "info": "Real-time EVA Energy Value Architecture visualization"
    },
    {
        "id": "flow_device_manager",
        "type": "tab",
        "label": "EVA Device Manager",
        "disabled": false,
        "info": "",
        "info": "Manage device priorities and trigger EVA functions"
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-guard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "solar/nodered/status",
        "birthQos": "0",
        "birthPayload": "online",
        "closeTopic": "solar/nodered/status",
        "closeQos": "0",
        "closePayload": "offline",
        "willTopic": "solar/nodered/status",
        "willQos": "0",
        "willPayload": "offline"
    },
    {
        "id": "ui_tab_dashboard",
        "type": "ui_tab",
        "name": "Solar Sentinel Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_hermes",
        "type": "ui_tab",
        "name": "Hermes AI Chat",
        "icon": "chat",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_eva",
        "type": "ui_tab",
        "name": "EVA Energy Map",
        "icon": "map",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_device_manager",
        "type": "ui_tab",
        "name": "EVA Device Manager",
        "icon": "settings",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_solar_live",
        "type": "ui_group",
        "name": "Live Stats",
        "tab": "ui_tab_dashboard",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_appliances",
        "type": "ui_group",
        "name": "Appliance Locks",
        "tab": "ui_tab_dashboard",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_thresholds",
        "type": "ui_group",
        "name": "Guard Thresholds",
        "tab": "ui_tab_dashboard",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_log",
        "type": "ui_group",
        "name": "Decision Log",
        "tab": "ui_tab_dashboard",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_hermes_chat",
        "type": "ui_group",
        "name": "Chat with Hermes",
        "tab": "ui_tab_hermes",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_hermes_quick_actions",
        "type": "ui_group",
        "name": "Quick Actions",
        "tab": "ui_tab_hermes",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_eva_main",
        "type": "ui_group",
        "name": "Energy Map Visualizer",
        "tab": "ui_tab_eva",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_eva_stats",
        "type": "ui_group",
        "name": "System Stats",
        "tab": "ui_tab_eva",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_device_controls",
        "type": "ui_group",
        "name": "EVA System Controls",
        "tab": "ui_tab_device_manager",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_device_list",
        "type": "ui_group",
        "name": "Device Registry",
        "tab": "ui_tab_device_manager",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_waste_analysis",
        "type": "ui_group",
        "name": "Waste Analysis",
        "tab": "ui_tab_device_manager",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt_in_total_w",
        "type": "mqtt in",
        "z": "flow_solar_dashboard",
        "name": "Total W",
        "topic": "solar/pv/power",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 80,
        "wires": [["ui_gauge_total_w"]]
    },
    {
        "id": "ui_gauge_total_w",
        "type": "ui_gauge",
        "z": "flow_solar_dashboard",
        "name": "Solar Power",
        "group": "ui_group_solar_live",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Solar Production",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "mqtt_in_soc",
        "type": "mqtt in",
        "z": "flow_solar_dashboard",
        "name": "Battery SOC",
        "topic": "solar/battery/soc",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 140,
        "wires": [["ui_gauge_soc"]]
    },
    {
        "id": "ui_gauge_soc",
        "type": "ui_gauge",
        "z": "flow_solar_dashboard",
        "name": "SOC Gauge",
        "group": "ui_group_solar_live",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Charge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": "20",
        "seg2": "60",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt_in_tier",
        "type": "mqtt in",
        "z": "flow_solar_dashboard",
        "name": "Guard Tier",
        "topic": "solar/guard/status",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 200,
        "wires": [["ui_text_tier"]]
    },
    {
        "id": "ui_text_tier",
        "type": "ui_text",
        "z": "flow_solar_dashboard",
        "name": "Tier Display",
        "group": "ui_group_solar_live",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_in_eva_map",
        "type": "mqtt in",
        "z": "flow_eva_map",
        "name": "EVA Map In",
        "topic": "solar/eva/map",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 110,
        "y": 80,
        "wires": [["eva_map_processor"]]
    },
    {
        "id": "eva_map_processor",
        "type": "function",
        "z": "flow_eva_map",
        "name": "Process EVA Map",
        "func": "const map = msg.payload;\n\n// Calculate stats\nlet totalPower = 0;\nlet phantomCount = 0;\nlet shiftableCount = 0;\nlet luxuryCount = 0;\nlet criticalCount = 0;\n\nObject.values(map.nodes || {}).forEach(node => {\n    totalPower += node.last_power || 0;\n    const priority = node.priority || 'UNKNOWN';\n    if (priority === 'PHANTOM') phantomCount++;\n    else if (priority === 'SHIFTABLE') shiftableCount++;\n    else if (priority === 'LUXURY') luxuryCount++;\n    else if (priority === 'CRITICAL') criticalCount++;\n});\n\n// Store for different displays\nmsg.nodes = map.nodes;\nmsg.system = map.system;\nmsg.phantomTotal = map.phantom_total || 0;\nmsg.optimalWindow = map.optimal_window;\nmsg.recommendations = map.recommendations || [];\nmsg.totalPower = totalPower;\nmsg.priorityCounts = { phantom: phantomCount, shiftable: shiftableCount, luxury: luxuryCount, critical: criticalCount };\n\nreturn msg;",
        "outputs": "1",
        "timeout": 0,
        "x": 340,
        "y": 80,
        "wires": [["ui_template_eva_map", "ui_chart_priority", "ui_stat_phantom", "ui_stat_power"]]
    },
    {
        "id": "ui_template_eva_map",
        "type": "ui_template",
        "z": "flow_eva_map",
        "group": "ui_group_eva_main",
        "name": "Energy Map View",
        "order": 1,
        "width": "12",
        "height": "12",
        "format": "<div id=\"eva-map\" style=\"background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%); color: #eee; padding: 20px; border-radius: 15px; font-family: 'Segoe UI', sans-serif; min-height: 400px;\">\n    <div style=\"display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; border-bottom: 1px solid #333; padding-bottom: 15px;\">\n        <h2 style=\"margin: 0; color: #00ff88;\">⚡ EVA ENERGY MAP</h2>\n        <div style=\"text-align: right;\">\n            <div style=\"font-size: 12px; color: #888;\">Last Update</div>\n            <div>{{payload.timestamp | date:'HH:mm:ss'}}</div>\n        </div>\n    </div>\n    \n    <div style=\"display: grid; grid-template-columns: repeat(4, 1fr); gap: 15px; margin-bottom: 20px;\">\n        <div style=\"background: rgba(0,255,136,0.1); padding: 15px; border-radius: 10px; text-align: center;\">\n            <div style=\"font-size: 24px; font-weight: bold; color: #00ff88;\">{{payload.system.soc}}%</div>\n            <div style=\"font-size: 11px; color: #888;\">Battery SOC</div>\n        </div>\n        <div style=\"background: rgba(255,200,0,0.1); padding: 15px; border-radius: 10px; text-align: center;\">\n            <div style=\"font-size: 24px; font-weight: bold; color: #ffc800;\">{{payload.system.tier}}</div>\n            <div style=\"font-size: 11px; color: #888;\">Guard Tier</div>\n        </div>\n        <div style=\"background: rgba(0,150,255,0.1); padding: 15px; border-radius: 10px; text-align: center;\">\n            <div style=\"font-size: 24px; font-weight: bold; color: #0096ff;\">{{payload.system.pv_watts}}W</div>\n            <div style=\"font-size: 11px; color: #888;\">Solar Power</div>\n        </div>\n        <div style=\"background: rgba(255,100,100,0.1); padding: 15px; border-radius: 10px; text-align: center;\">\n            <div style=\"font-size: 24px; font-weight: bold; color: #ff6464;\">{{payload.phantom_total || 0}}</div>\n            <div style=\"font-size: 11px; color: #888;\">Phantom Cuts</div>\n        </div>\n    </div>\n    \n    <div style=\"margin-bottom: 20px;\">\n        <h3 style=\"color: #888; font-size: 14px; margin-bottom: 10px;\">DEVICE STATUS</h3>\n        <table style=\"width: 100%; border-collapse: collapse;\">\n            <tr style=\"border-bottom: 1px solid #333; color: #888;\">\n                <th style=\"padding: 8px; text-align: left;\">Device</th>\n                <th style=\"padding: 8px; text-align: center;\">Power</th>\n                <th style=\"padding: 8px; text-align: center;\">State</th>\n                <th style=\"padding: 8px; text-align: center;\">Priority</th>\n            </tr>\n            <tr ng-repeat=\"(id, node) in msg.nodes\" style=\"border-bottom: 1px solid #222;\">\n                <td style=\"padding: 8px;\">{{node.name || id}}</td>\n                <td style=\"padding: 8px; text-align: center;\" ng-style=\"{'color': node.last_power > 100 ? '#ff6464' : '#00ff88'}\">{{node.last_power | number:1}}W</td>\n                <td style=\"padding: 8px; text-align: center;\">{{node.last_state}}</td>\n                <td style=\"padding: 8px; text-align: center;\">\n                    <span ng-style=\"{'background': node.priority === 'PHANTOM' ? '#ff6464' : node.priority === 'LUXURY' ? '#ff9500' : node.priority === 'SHIFTABLE' ? '#0096ff' : '#00ff88', 'padding': '3px 8px', 'border-radius': '4px', 'font-size': '11px'}\">{{node.priority}}</span>\n                </td>\n            </tr>\n        </table>\n    </div>\n    \n    <div ng-if=\"msg.optimalWindow\" style=\"background: rgba(0,255,136,0.1); padding: 15px; border-radius: 10px;\">\n        <h3 style=\"color: #00ff88; margin: 0 0 10px 0;\">🌞 Optimal Window</h3>\n        <div style=\"font-size: 13px;\">\n            {{msg.optimalWindow.start_time | date:'MMM d, HH:mm'}} - {{msg.optimalWindow.end_time | date:'HH:mm'}}\n            <span style=\"color: #888; margin-left: 10px;\">{{msg.optimalWindow.predicted_yield_wh}}Wh predicted</span>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "ui_chart_priority",
        "type": "ui_chart",
        "z": "flow_eva_map",
        "name": "Priority Distribution",
        "group": "ui_group_eva_stats",
        "order": 1,
        "width": 6,
        "height": 4,
        "chartType": "pie",
        "legend": "true",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_stat_phantom",
        "type": "ui_text",
        "z": "flow_eva_map",
        "name": "Phantom Count",
        "group": "ui_group_eva_stats",
        "order": 2,
        "width": 3,
        "height": 1,
        "format": "Phantom Loads: {{msg.priorityCounts.phantom}}",
        "layout": "row-spread",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_stat_power",
        "type": "ui_text",
        "z": "flow_eva_map",
        "name": "Total Power",
        "group": "ui_group_eva_stats",
        "order": 3,
        "width": 3,
        "height": 1,
        "format": "Total: {{msg.totalPower | number:1}}W",
        "layout": "row-spread",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_button_phantom_cut",
        "type": "ui_button",
        "z": "flow_device_manager",
        "name": "Trigger Phantom Cut",
        "group": "ui_group_device_controls",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Run Phantom Cut",
        "tooltip": "Immediately cut detected phantom loads",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "EVA_PHANTOM_CUT",
        "payloadType": "str",
        "topic": "solar/eva/command",
        "x": 160,
        "y": 80,
        "wires": [["mqtt_out_eva_command"]]
    },
    {
        "id": "ui_button_optimize",
        "type": "ui_button",
        "z": "flow_device_manager",
        "name": "Trigger Optimize",
        "group": "ui_group_device_controls",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Find Optimal Window",
        "tooltip": "Start the EVA optimization process",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "EVA_OPTIMIZE",
        "payloadType": "str",
        "topic": "solar/eva/command",
        "x": 160,
        "y": 120,
        "wires": [["mqtt_out_eva_command"]]
    },
    {
        "id": "ui_button_learn",
        "type": "ui_button",
        "z": "flow_device_manager",
        "name": "Trigger Learning",
        "group": "ui_group_device_controls",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Run Pattern Learning",
        "tooltip": "Start the EVA pattern learning engine",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "EVA_LEARN",
        "payloadType": "str",
        "topic": "solar/eva/command",
        "x": 160,
        "y": 160,
        "wires": [["mqtt_out_eva_command"]]
    },
    {
        "id": "ui_button_publish_map",
        "type": "ui_button",
        "z": "flow_device_manager",
        "name": "Publish Map",
        "group": "ui_group_device_controls",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh Energy Map",
        "tooltip": "Force publish a new energy map snapshot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "PUBLISH_MAP",
        "payloadType": "str",
        "topic": "solar/eva/command",
        "x": 160,
        "y": 200,
        "wires": [["mqtt_out_eva_command"]]
    },
    {
        "id": "mqtt_out_eva_command",
        "type": "mqtt out",
        "z": "flow_device_manager",
        "name": "EVA Command Out",
        "topic": "solar/eva/command",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_local",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt_in_hermes_outbox",
        "type": "mqtt in",
        "z": "flow_device_manager",
        "name": "Hermes Response",
        "topic": "solar/hermes/outbox",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 160,
        "y": 280,
        "wires": [["ui_text_hermes_response"]]
    },
    {
        "id": "ui_text_hermes_response",
        "type": "ui_text",
        "z": "flow_device_manager",
        "name": "Hermes Log",
        "group": "ui_group_device_controls",
        "order": 5,
        "width": 12,
        "height": 3,
        "format": "{{msg.payload.response || msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "ui_text_input_hermes",
        "type": "ui_text_input",
        "z": "flow_hermes_chat",
        "name": "Message to Hermes",
        "label": "Ask Hermes",
        "tooltip": "Send a message to the Hermes AI agent",
        "group": "ui_group_hermes_chat",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "base64": false,
        "x": 140,
        "y": 100,
        "wires": [["mqtt_out_hermes_inbox"]]
    },
    {
        "id": "mqtt_out_hermes_inbox",
        "type": "mqtt out",
        "z": "flow_hermes_chat",
        "name": "Hermes Inbox",
        "topic": "solar/hermes/inbox",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_local",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_in_hermes_outbox_chat",
        "type": "mqtt in",
        "z": "flow_hermes_chat",
        "name": "Hermes Outbox",
        "topic": "solar/hermes/outbox",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "x": 130,
        "y": 180,
        "wires": [["ui_text_hermes_reply", "hermes_history_add"]]
    },
    {
        "id": "ui_text_hermes_reply",
        "type": "ui_text",
        "z": "flow_hermes_chat",
        "group": "ui_group_hermes_chat",
        "order": 2,
        "width": "12",
        "height": "6",
        "name": "Hermes Reply",
        "label": "Response",
        "format": "<div style=\"background: #1a1a2e; padding: 15px; border-radius: 10px; min-height: 150px;\"><div style=\"color: #00ff88; font-size: 12px; margin-bottom: 10px;\">{{msg.timestamp | date:'HH:mm:ss'}}</div><div style=\"color: #eee; line-height: 1.5;\">{{msg.payload.response || msg.payload}}</div></div>",
        "layout": "col-center",
        "className": "",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "hermes_history_add",
        "type": "function",
        "z": "flow_hermes_chat",
        "name": "Add to History",
        "func": "// Simple in-memory history (would use context in production)\nif (!flow.get('hermesHistory')) {\n    flow.set('hermesHistory', []);\n}\nlet history = flow.get('hermesHistory');\nhistory.push({\n    timestamp: new Date().toISOString(),\n    response: msg.payload.response || msg.payload\n});\n// Keep last 10\nif (history.length > 10) history.shift();\nflow.set('hermesHistory', history);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "x": 350,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_button_clear_history",
        "type": "ui_button",
        "z": "flow_hermes_chat",
        "name": "Clear History",
        "group": "ui_group_hermes_quick_actions",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear History",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "CLEAR",
        "payloadType": "str",
        "x": 160,
        "y": 340,
        "wires": [["clear_history_func"]]
    },
    {
        "id": "clear_history_func",
        "type": "function",
        "z": "flow_hermes_chat",
        "name": "Clear History Func",
        "func": "flow.set('hermesHistory', []);\nreturn { payload: 'History cleared' };",
        "outputs": 1,
        "timeout": 0,
        "x": 350,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "ui_button_quick_status",
        "type": "ui_button",
        "z": "flow_hermes_chat",
        "name": "Quick Status",
        "group": "ui_group_hermes_quick_actions",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check System Status",
        "tooltip": "Ask Hermes for current system status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "What is the current system status?",
        "payloadType": "str",
        "x": 160,
        "y": 380,
        "wires": [["mqtt_out_hermes_inbox"]]
    },
    {
        "id": "ui_button_quick_forecast",
        "type": "ui_button",
        "z": "flow_hermes_chat",
        "name": "Get Forecast",
        "group": "ui_group_hermes_quick_actions",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get Solar Forecast",
        "tooltip": "Ask Hermes for the solar forecast",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "What is the solar production forecast?",
        "payloadType": "str",
        "x": 160,
        "y": 420,
        "wires": [["mqtt_out_hermes_inbox"]]
    },
    {
        "id": "mqtt_in_optimal_window",
        "type": "mqtt in",
        "z": "flow_device_manager",
        "name": "Optimal Window",
        "topic": "solar/eva/optimal_window",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 160,
        "y": 500,
        "wires": [["ui_template_window"]]
    },
    {
        "id": "ui_template_window",
        "type": "ui_template",
        "z": "flow_device_manager",
        "group": "ui_group_device_controls",
        "name": "Window Display",
        "order": 6,
        "width": 12,
        "height": 2,
        "format": "<div style=\"background: rgba(0,255,136,0.1); padding: 15px; border-radius: 10px;\">\n    <h4 style=\"color: #00ff88; margin: 0 0 10px 0;\">🌞 Optimal Energy Window Found</h4>\n    <div>Start: {{payload.start_time | date:'MMM d, y HH:mm'}}</div>\n    <div>End: {{payload.end_time | date:'HH:mm'}}</div>\n    <div style=\"color: #888;\">Predicted Yield: {{payload.predicted_yield_wh}}Wh</div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "mqtt_in_waste",
        "type": "mqtt in",
        "z": "flow_device_manager",
        "name": "Waste Analysis",
        "topic": "solar/eva/waste_analysis",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 160,
        "y": 580,
        "wires": [["ui_template_waste"]]
    },
    {
        "id": "ui_template_waste",
        "type": "ui_template",
        "z": "flow_device_manager",
        "group": "ui_group_waste_analysis",
        "name": "Waste Display",
        "order": 1,
        "width": 12,
        "height": 4,
        "format": "<div style=\"background: rgba(255,100,100,0.1); padding: 15px; border-radius: 10px;\">\n    <h4 style=\"color: #ff6464; margin: 0 0 15px 0;\">⚠️ Energy Waste Analysis</h4>\n    <table style=\"width: 100%;\">\n        <tr><td>Total Phantom Load:</td><td><b>{{payload.total_phantom_watts}}W</b></td></tr>\n        <tr><td>Daily Waste:</td><td><b>{{payload.daily_waste_kwh}}kWh</b></td></tr>\n        <tr><td>Monthly Cost Estimate:</td><td><b>${{payload.monthly_cost_estimate_usd}}</b></td></tr>\n    </table>\n    <h5 style=\"color: #888; margin-top: 15px;\">Phantom Loads:</h5>\n    <table style=\"width: 100%; font-size: 12px;\">\n        <tr ng-repeat=\"load in payload.phantom_loads\">\n            <td>{{load.node_id}}</td>\n            <td>{{load.avg_watts}}W</td>\n            <td>{{load.daily_kwh}}kWh/day</td>\n            <td>${{load.monthly_cost_estimate}} mo</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 380,
        "y": 580,
        "wires": []
    },
    {
        "id": "ui_button_waste_analysis",
        "type": "ui_button",
        "z": "flow_device_manager",
        "name": "Run Waste Analysis",
        "group": "ui_group_waste_analysis",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Analyze Waste",
        "tooltip": "Ask Hermes to analyze energy waste",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Analyze energy waste and phantom loads",
        "payloadType": "str",
        "x": 160,
        "y": 680,
        "wires": [["mqtt_out_hermes_inbox"]]
    },
    {
        "id": "mqtt_in_eva_map_device",
        "type": "mqtt in",
        "z": "flow_device_manager",
        "name": "EVA Map",
        "topic": "solar/eva/map",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "x": 160,
        "y": 760,
        "wires": [["device_list_processor"]]
    },
    {
        "id": "device_list_processor",
        "type": "function",
        "z": "flow_device_manager",
        "name": "Device List",
        "func": "// Create device list from map\nconst nodes = msg.payload.nodes || {};\nconst devices = Object.entries(nodes).map(([id, data]) => ({\n    id: id,\n    name: data.name || id,\n    priority: data.priority || 'UNKNOWN',\n    power: data.last_power || 0,\n    state: data.last_state || 'UNKNOWN'\n}));\nmsg.payload = devices;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "x": 380,
        "y": 760,
        "wires": [["ui_template_device_list"]]
    },
    {
        "id": "ui_template_device_list",
        "type": "ui_template",
        "z": "flow_device_manager",
        "group": "ui_group_device_list",
        "name": "Device List",
        "order": 1,
        "width": 12,
        "height": 6,
        "format": "<div style=\"background: #1a1a2e; padding: 15px; border-radius: 10px; max-height: 300px; overflow-y: auto;\">\n    <h4 style=\"color: #eee; margin: 0 0 15px 0;\">Device Registry</h4>\n    <table style=\"width: 100%; font-size: 12px;\">\n        <tr style=\"border-bottom: 1px solid #333;\">\n            <th>Name</th><th>Priority</th><th>Power</th><th>State</th>\n        </tr>\n        <tr ng-repeat=\"device in msg.payload\" style=\"border-bottom: 1px solid #222;\">\n            <td>{{device.name}}</td>\n            <td><span ng-style=\"{'color': device.priority === 'PHANTOM' ? '#ff6464' : device.priority === 'LUXURY' ? '#ff9500' : device.priority === 'SHIFTABLE' ? '#0096ff' : '#00ff88'}\">{{device.priority}}</span></td>\n            <td>{{device.power | number:1}}W</td>\n            <td>{{device.state}}</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 600,
        "y": 760,
        "wires": []
    }
]
